.guide{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.56);
    z-index: 9999;
}

.guide .guide-con{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -250px;
    overflow: hidden;
    box-shadow: 0 0 36px 0 rgb(0 0 0);
    border-radius: 4px;
}
.guide .guide-con .outer{
    display: flex;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.guide-img{
    display: block;
    max-width: 15em;
    margin: auto;
    margin-right: 10px;
}

.guide .guide-con .outer div{
    padding: 3em 2.5em 3em 0em;
    margin-right: 30px;
    margin-left: auto;
}

.guide h1 {
    font-size: 2em;
    font-weight: bold;
    color: tomato;
    margin-top: 18px;
    margin-bottom: 20px;
}

.guide button{
    display:block; 
    position: absolute;
    right: 15px;
    top: 10px;
}

.outer li{
    list-style: none;
    margin: .5em auto;
    font-size: 1.2em;
    font-weight: normal;
}
.outer h3{
    font-size: 1.5em;
    font-weight: normal;
}

.outer .release li{
    list-style:disc;
    margin-left: 2em;
    font-size: 1em;
    font-style: italic;
}